<ion-header>
    <ion-toolbar>
      <ion-title  style='float:right'>
      <ion-img class="icon" src="/assets/img/logotipo2.PNG" ></ion-img>
    </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-img id="img" src="/assets/img/log.png"></ion-img>
    <br>
<ion-item>
  <ion-label position="fixed"> Nombre :</ion-label>
</ion-item>
<ion-item>
  <ion-label position="fixed"> Apellido :</ion-label>
</ion-item>
<ion-item>
  <ion-label position="fixed"> Email :</ion-label>
</ion-item>
<ion-item>
  <ion-label position="fixed"> Telefono :</ion-label>
</ion-item>




</ion-content>
