<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!--antes de el titulo, le indico que lo ponga al inicio del toolbar-->
      <ion-back-button  defaultHref="/index"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-img src="/assets/img/logotipo2.PNG"></ion-img>
  <form >
  <ion-input type="text" placeholder="usuario o correo electronico" name="usuario"></ion-input>
  <ion-input type="password" name="contrseña" placeholder="Contraseña"></ion-input>
 
  <ion-button ion-button block type="submit">Ingresar</ion-button>
</form>
<br>
<div text-center>
  <a ion-button block clear >
    Nueva cuenta
  </a>
  <br>
  <a> <ion-button clear> Olvide mi contraseña</ion-button> </a>

  
</div>
</ion-content>
