
<ion-content>
  <ion-card class="welcome-card" >
    <br>
    <ion-img src="/assets/img/logotipo2.PNG"></ion-img>
    <ion-card-header color="dark" >
      <ion-card-title>Generá ganancias y disminuí costos</ion-card-title>
    </ion-card-header>
    <ion-card-content> 
      <br>
      <p>Registrate gratis para conducir o para solicitar viajes. <br> Hacelo de forma simple y segura. </p>
    </ion-card-content>
  </ion-card>
  <br>
<ion-button expand="block" fill="outline" routerLink="/register">Registrarse</ion-button>
<ion-button expand="block" fill="outline" routerLink="/inicio-sesion">Iniciar sesión</ion-button>
<br>
  <ion-list lines="none" >
    <ion-list-header>
      <ion-label>Conoce más...</ion-label>
    </ion-list-header>
    <ion-item >
      <ion-icon slot="start" color="medium" name="construct"></ion-icon>
      <ion-label>Seguridad</ion-label>
    </ion-item>
    <ion-item routerLink="/questions">
      <ion-icon slot="start" color="medium" name="help"></ion-icon>
      <ion-label>Preguntas frecuentes</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="people"></ion-icon>
      <ion-label>Sobre nosotros</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
